<nav class="navbar navbar-expand-lg fixed-top navbar-dark py-1 py-md-2  text-capitalize w-100">
  <a class="navbar-brand ml-lg-5 ml-sm-0">{{StoreName}}<span>.</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-mobile" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-md" >
    <div class="collapse navbar-collapse col-xs-12" id="nav-mobile">
      <ul class="navbar-nav mx-auto font-weight-bold">
        <li class="nav-item px-2" >
            <a class="nav-link" routerLink="/Home">home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item px-2" >
          <a class="nav-link" routerLink="/Categories/1">Shop</a>
        </li>
        <div *ngIf="accountservice.currentUserId!= null">
          <li class="nav-item px-2" *ngIf="accountservice.isLoggedIn() && accountservice.currentUser.admin">
            <a class="nav-link" routerLink="/Admin">Admin</a>
          </li>
        </div>
      </ul>
      <div class="ml-auto authent" *ngIf="accountservice.isLoggedIn()">
           <a routerLink="/Login" class=" pr-3 border-right">Log In</a>
          <a class="btn signup" [routerLink]="[ '/Register' ]">Sign UP</a>
      </div>
      <div class="ml-auto authent" *ngIf="!accountservice.isLoggedIn()">
        <a (click)="logout()">Logout</a> 
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
