<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="CourseList.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Admin</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <a href="Login.html" class="btn btn-outline-danger mr-3 my-2 my-sm-0">Login</a>
              <a href="SignUp.html" class="btn btn-outline-success my-2 my-sm-0">Signup</a>
            </form>
          </div>
    </div>
  </nav>
