<section>
    <h2 class="text-center">Wish List</h2>
   <!-- Grid row -->
   <div class="row shadow-sm">
 
     <!-- Grid column -->
     <div class="col-md-4 mb-5">
         <div class="rounded">
           <img class="img-fluid mr-auto"
             src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" width="200" height="200" alt="Sample">
         </div>
 
         <div class="text-center pt-4">
 
           <h5>Blue denim shirt</h5>
           <hr>
           <h6 class="mb-3">17.99 $</h6>
           <button type="button" class="btn btn-primary btn-sm mr-1 mb-2"><i
               class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
           <button type="button" class="btn btn-elegant btn-sm px-3 mb-2 material-tooltip-main"
             data-toggle="tooltip" data-placement="top" title="Remove from wishlist"><i
               class="fas fa-times"></i></button>
         </div>
       </div>
       <!-- Card -->
     </div>
     </section>
     <app-footer></app-footer>