<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
        <div class="view">
        <img class="d-block w-100" src="assets/images/hero-2.jpg"
          alt="First slide">
          </div>
            <div class="col-lg-5 carousel-caption text-center">
            <h1 class="text-black text-uppercase">Black friday</h1>
            <p>save up to 40% off</p>
            <a href="#" class="primary-btn">Shop Now</a>
            </div>
            </div> 
      </div>
      <div class="carousel-item">
          <div class=row>
          <div class="view">
            <img class="d-block w-100" src="assets/images/hero-1.jpg"
            alt="Third slide">
          </div>
          <div class="col-lg-5 carousel-caption text-center">
            <h1 class="text-uppercase">women's fashion</h1>
            <p>save up to 40% off</p>
            <a href="#" class="primary-btn">Shop Now</a>
            </div>
          </div>
      </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!------------------------section of category---------------------------------->
  <section class="Categories">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 category" *ngFor="let cat of categories" (click)="goToCategoryDetails(cat)">
          <div class="single-banner">
            <img [src]="cat.image" alt="">
            <div class="inner-text">
            <h4>{{cat.name}}</h4>
            </div>
            </div>
        </div>
      </div>
  </div>
  </section>
  <app-footer></app-footer>

    <script>
        $('.carousel').carousel()
    </script>