.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 30px;
	color: #ffffff;
	background: #e7ab3c;
	text-transform: uppercase;
}
.carousel-caption{
    h1 {
	color: #252525!important;
	font-size: 72px;
	font-weight: 700;
	margin-bottom: 6px;
	position: relative;
	top: 50px;
}
   p {
	margin-bottom: 42px;
	position: relative;
	top: 100px;
  }
}