.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 30px;
	color: #ffffff;
	background: #e7ab3c;
	text-transform: uppercase;
}
.carousel-caption{
		position: absolute;
		left:5%;
		bottom: 5%;
		z-index: 10;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #000;
		text-align: left;
    h1 {
	color: #252525!important;
	font-size: 72px;
	font-weight: 700;
	margin-bottom: 20px;
}
   p {
	margin-bottom: 40px;
	font-size: 15px;
    letter-spacing: 10px;
  }
}
.Categories{
	padding: 80px 50px;
}
.category{
	margin-bottom: 20px;
}
.single-banner {
    position: relative;
    z-index: 1;
	cursor:pointer;
	img {
		max-width: 100%;
	}
      .inner-text {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		justify-content: center;
		width: 100%;
		align-items: center;
		height: 100%;
		h4 {
			color: #252525;
			font-weight: 700;
			padding: 11px 28px;
			background: #ffffff;
			border-radius: 2px;
		}
	}
	 
	&::before {
		position: absolute;
		left: 35px;
		top: 30px;
		border: 13px solid #ffffff;
		content: "";
		opacity: 0.3;
		width: calc(100% - 70px);
		height: calc(100% - 60px);
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	&:hover {
		&:before {
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
	  }
}
