<!--<h1>you selected {{catrgoryID}}</h1>-->
<app-banner [selectedCategoryID]="catrgoryID"></app-banner>
<section class="products-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let item of ProdutList">
                <!-- Card -->
                <div class="card product-item">
                        <img class="card-img-top" [src]="item.Image" alt="Sample">
                
                    <div class="card-body text-center">
                    <h5>{{item.Name}}</h5>
                    <p class="small text-muted text-uppercase mb-2">{{item.CategoryId}}</p>
                    <hr>
                    <h6 class="mb-3">
                        <span class=" mr-1 product-price">{{item.Price}}</span>
                    </h6>
                    <button type="button" class="btn btn-light btn-block mr-1 mb-2" (click)="goToProductDtails(item.ID)">
                        <i class="fas fa-info-circle pr-2"></i>Details
                    </button>
                </div>
                </div>
                <!-- Card -->
            </div>
        </div>
    </div>
</section>