<div class="danger">
    Are You Sure You will delete this product
    </div>
    <div>
        <div>
            Product ID:{{pro.ID}}
        </div>
        <div>
            Product Name:{{pro.Name}}
        </div>
        <div>
            Product Price:{{pro.Price}}
        </div>
        <div>
            Product Color:{{pro.Color}}
        </div>
        <div>
            Product Image:<img src="./assets/{{pro.Img}}" width="200px" height="200px">
        </div>
     
        </div>
      <form>
          <input type="button" class="btn btn-danger" (click)="Deletepro()" value="Delete">
      </form>