.container{
    padding-top:100px;
}
#productName{
    h5{
        color: rgb(79,79,79);
        font-weight: 500;
        font-size: 20px;
    }
}
.cardAction 
{
    a{
        text-decoration: none;
        font-family:Roboto, sans-serif;
        font-size: 12.7px;
        font-weight: 400;
        color: rgb(80,81,81);
    }
}