
<div class="container">
    <h3>Create Product </h3>
    <form [formGroup]="updateproduct">
      
        <div class="form-group">
             <label> Name</label>
             <input formControlName="Name" [class.is-invalid]="Name.invalid && Name.touched" type="text" class="form-control" />
           
        </div>
        <div *ngIf="Name.invalid &&Name.touched">
            <small class="text-danger" *ngIf="Name.errors.required">User Name is required</small>
            <small class="text-danger" *ngIf="Name.errors.minlength">Min Length is 3</small>
            <!-- <small class="text-danger" *ngIf="Name.errors.forbiddenName">{{userName.errors.forbiddenName.value}} is not allowed</small> -->
        </div>
    
            <div class="form-group">
             <label>Price</label>
             <input formControlName="Price" [class.is-invalid]="Price.invalid && Price.touched"   type="text" class="form-control"/>
            <small class="text-danger" *ngIf="updateproduct.errors?.P_valid">Price must be positive </small>
        </div>
        <div class="form-group">
             <label>Quantity</label>
             <input formControlName="Quantity" [class.is-invalid]="Quantity.invalid && Quantity.touched"   type="text" class="form-control"/>
            <small class="text-danger" *ngIf="updateproduct.errors?.q_valid">Quantity must be positive and more than Zero</small>
        </div>
        color 
        <div class="form-group">
            <select class="custom-select" formControlName="Color"    type="text" class="form-control"> 
               

                <option *ngFor="let c of color "  >{{c}}  </option>
            </select>
        </div>
        CategoryId
        <div class="form-group">
            <select class="custom-select" formControlName="CategoryId"    type="text" class="form-control"> 
               

                <option *ngFor="let item of category" [value]="item.id">{{item.name}}  </option>
            </select>
        </div>
         <div class="form-group">
             <label>Image</label>
             <input formControlName="Img" [class.is-invalid]="Img.invalid && Img.touched"   type="text" class="form-control"/>
            <small class="text-danger" *ngIf="updateproduct.errors?.img_valid">Password and confirm password not match</small>
        </div>

        
            <button type="submit" [disabled]="updateproduct.invalid" (click)="update()" class="btn btn-primary">Create</button>
    </form>

       
   
        
</div>

