 <div>
     
     <div >
         Product Details
    <div>
        Product ID:{{pro.id}}
    </div>
    <div>
        Product Name:{{pro.name}}
    </div>
    <div>
        Product Price:{{pro.price}}
    </div>
    <div>
        Product Color:{{pro.color}}
    </div>
    <div>
        Product category :{{pro.categoryID}}
    </div>
    <div>
        Product rate:{{pro.rate}}
    </div>
    <div>
        Product quantity:{{pro.quantity}}
    </div>
    <div>
        Product dec:{{pro.description}}
    </div>
    <div>
        Product Image:<img src="./assets/{{pro.image}}" width="200px" height="200px">
    </div>
  <button class="bg-info text-white"> <a class="nav-link" routerLink="/index"> Go To Home</a></button>
    </div>
