 <div class="container p-3">
     <h2 >
         Product Details
     </h2>
        Product ID:{{pro.id}}
    <div>
        Product Name:{{pro.name}}
    </div>
    <div>
        Product Price:{{pro.price}}
    </div>
    <div>
        Product Color:{{pro.color}}
    </div>
    <div>
        Product category :{{pro.categoryID}}
    </div>
    <div>
        Product rate:{{pro.rate}}
    </div>
    <div>
        Product quantity:{{pro.quantity}}
    </div>
    <div>
        Product dec:{{pro.description}}
    </div>
    <div>
        Product Image:<img src="./assets/{{pro.image}}" width="200px" height="200px">
    </div>
  <button class="btn btn-danger w-25" id="btn"> <a class="nav-link" routerLink="/index"> Go To Home</a></button>
    </div>
